wk_taa_taaqa/src/flows/Lead_Ownership_Assignment-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>SUCCESS: LEAD_OWNER_ASSIGNED_CODE</description>
        <name>LEAD_OWNER_ASSIGNED_CODE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ATA_LEAD_OWNER_IS_ASSIGNED_LEAD_ASSIGNMENT_RULE</stringValue>
        </value>
    </constants>
    <constants>
        <description>Lead Ownership Assignment Flow Name for Monitoring Log</description>
        <name>LeadOwnershipAssignmentFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Ownership Assignement Flow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Sales_Alignment_Staging</name>
        <label>Check Sales Alignment (Staging)</label>
        <locationX>666</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_Sales_Alignment_Staging_is_R_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadSalesAlignmentStagingValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R&amp;L</stringValue>
                </rightValue>
            </conditions>
            <label>YES: Sales Alignment Staging is R&amp;L</label>
        </rules>
        <rules>
            <name>NO_Sales_Alignment_Staging_is_not_R_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadSalesAlignmentStagingValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>R&amp;L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sales_Alignment_Postal_Code_NULL</targetReference>
            </connector>
            <label>NO: Sales Alignment (Staging) is not R&amp;L</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Domain_Matched</name>
        <label>Does Domain Matched?</label>
        <locationX>332</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedDTN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>YES: Update Owner</label>
        </rules>
        <rules>
            <name>NO_Check_Sales_Alignment_Staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedDTN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Alignment_Staging</targetReference>
            </connector>
            <label>NO: Check Sales Alignment (Staging)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_User</name>
        <label>Found User?</label>
        <locationX>64</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_Found_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_the_Lead</targetReference>
            </connector>
            <label>YES: Found User</label>
        </rules>
        <rules>
            <name>NO_Couldn_t_find_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_No_User_with_Selected_DTN</targetReference>
            </connector>
            <label>NO: Couldn&apos;t find user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Alignment_Postal_Code_NULL</name>
        <label>Is Sales Alignment OR Postal Code NULL?</label>
        <locationX>909</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_Sales_Alignment_OR_Postal_Code_is_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadSalesAlignmentValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadPostalCodeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Missing_Postal_Code_OR_Sales_Alignment</targetReference>
            </connector>
            <label>YES: Sales Alignment OR Postal Code is NULL</label>
        </rules>
        <rules>
            <name>NO_Sales_Alignment_Postal_Code_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadSalesAlignmentValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadPostalCodeValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Geographic_Ownership_Assignment</targetReference>
            </connector>
            <label>NO: Sales Alignment &amp; Postal Code Not NULL</label>
        </rules>
    </decisions>
    <interviewLabel>{!LeadId}</interviewLabel>
    <label>Lead Ownership Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LOG_Missing_Postal_Code_OR_Sales_Alignment</name>
        <label>LOG: Missing Postal Code OR Sales Alignment</label>
        <locationX>1135</locationX>
        <locationY>372</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>LeadOwnershipAssignmentFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lead Assignment</stringValue>
            </value>
        </inputAssignments>
        <object>Monitoring_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>LOG_No_User_with_Selected_DTN</name>
        <label>LOG: No User with Selected DTN</label>
        <locationX>307</locationX>
        <locationY>532</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>LeadOwnershipAssignmentFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lead Assignment</stringValue>
            </value>
        </inputAssignments>
        <object>Monitoring_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Log_the_Success</name>
        <label>Log the Success</label>
        <locationX>63</locationX>
        <locationY>775</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>LeadOwnershipAssignmentFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <stringValue>Lead is Assigned to User: {!UserName} with DTN: {!MatchedDTN}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lead Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>LEAD_OWNER_ASSIGNED_CODE</elementReference>
            </value>
        </inputAssignments>
        <object>Monitoring_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>64</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_User</targetReference>
        </connector>
        <filters>
            <field>DTN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedDTN</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Domain</name>
        <label>Lookup Domain</label>
        <locationX>333</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Domain_Matched</targetReference>
        </connector>
        <filters>
            <field>FieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domain__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>FieldValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDomainValue</elementReference>
            </value>
        </filters>
        <object>ATA_Non_Geographic_Assignment__c</object>
        <outputAssignments>
            <assignToReference>MatchedDTN</assignToReference>
            <field>DTN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NamedType</assignToReference>
            <field>Ownership_NamedType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Geographic_Ownership_Assignment</name>
        <label>Lookup Geographic Ownership Assignment</label>
        <locationX>645</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LEFT({!LeadPostalCodeValue}, 5)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadSalesAlignmentValue</elementReference>
            </value>
        </filters>
        <object>ATA_Geographic_Assignment__c</object>
        <outputAssignments>
            <assignToReference>MatchedDTN</assignToReference>
            <field>DTN__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>62</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Domain</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadDomainValue</assignToReference>
            <field>Domain__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadPostalCodeValue</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSalesAlignmentStagingValue</assignToReference>
            <field>Sales_Alignment_Staging__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSalesAlignmentValue</assignToReference>
            <field>Sales_Alignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Owner_to_the_Lead</name>
        <label>Assign Owner to the Lead</label>
        <locationX>64</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>Log_the_Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Account_Type__c</field>
            <value>
                <elementReference>NamedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lookup_Lead</startElementReference>
    <variables>
        <description>Holds the domain value from the lead</description>
        <name>LeadDomainValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Id passed by Process Builder</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the lead postal code value</description>
        <name>LeadPostalCodeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales Alignment (Staging) passed by process builder</description>
        <name>LeadSalesAlignmentStagingValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold the lead sales alignment value</description>
        <name>LeadSalesAlignmentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DTN value from the match</description>
        <name>MatchedDTN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NamedType from the match</description>
        <name>NamedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the user to be assigned in the Owner field</description>
        <name>OwnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
