wk_taa_taaqa/src/flows/Lead_Ownership_Assignment-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>SUCCESS: LEAD_OWNER_ASSIGNED_CODE</description>
        <name>LEAD_OWNER_ASSIGNED_CODE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ATA_LEAD_OWNER_IS_ASSIGNED_LEAD_ASSIGNMENT_RULE</stringValue>
        </value>
    </constants>
    <constants>
        <description>Lead Ownership Assignment Flow Name for Monitoring Log</description>
        <name>LeadOwnershipAssignmentFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Ownership Assignement Flow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Domain_Matched</name>
        <label>Does Domain Matched?</label>
        <locationX>332</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedDTN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>YES: Update Owner</label>
        </rules>
        <rules>
            <name>NO_Check_Sales_Alignment_Staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedDTN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>NO: Check Sales Alignment (Staging)</label>
        </rules>
    </decisions>
    <interviewLabel>{!LeadId}</interviewLabel>
    <label>Lead Ownership Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_the_Success</name>
        <label>Log the Success</label>
        <locationX>57</locationX>
        <locationY>582</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>LeadOwnershipAssignmentFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <stringValue>Lead is Assigned to User: {!UserName} with DTN: {!MatchedDTN}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lead Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>LEAD_OWNER_ASSIGNED_CODE</elementReference>
            </value>
        </inputAssignments>
        <object>Monitoring_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>63</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_to_the_Lead</targetReference>
        </connector>
        <filters>
            <field>DTN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchedDTN</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Domain</name>
        <label>Lookup Domain</label>
        <locationX>333</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Domain_Matched</targetReference>
        </connector>
        <filters>
            <field>FieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FieldAPIName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FieldValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FieldValue</elementReference>
            </value>
        </filters>
        <object>ATA_Non_Geographic_Assignment__c</object>
        <outputAssignments>
            <assignToReference>MatchedDTN</assignToReference>
            <field>DTN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NamedType</assignToReference>
            <field>Ownership_NamedType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Owner_to_the_Lead</name>
        <label>Assign Owner to the Lead</label>
        <locationX>61</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Log_the_Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Account_Type__c</field>
            <value>
                <elementReference>NamedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Lookup_Domain</startElementReference>
    <variables>
        <description>FieldAPIName passed by Process Builder.</description>
        <name>FieldAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FieldValue passed by the Process Builder</description>
        <name>FieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Id passed by Process Builder</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DTN value from the match</description>
        <name>MatchedDTN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NamedType from the match</description>
        <name>NamedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the user to be assigned in the Owner field</description>
        <name>OwnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
