wk_taa_taaqa/src/flows/Practice_Mobile_Time_Entry-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Price Mobile Time Etry</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal_Line_Item__c].Apttus_QPConfig__NetAdjustmentPercent__c *100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_9453439412</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Apttus_QPConfig__NetAdjustmentPercent__c} *100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal_Line_Item__c].Apttus_Proposal__Proposal__c.Has_Mobile_Time_Entry__c  = true &amp;&amp; [Apttus_Proposal__Proposal_Line_Item__c].Apttus_Proposal__Proposal__c.Price_Mobile_Time_Entry__c  = true &amp;&amp;([Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c  = &apos;880023&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;880021&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;880019&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;880017&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;860023&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;860021&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;860019&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;860017&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;870023&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;870021&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;870019&apos; || [Apttus_Proposal__Proposal_Line_Item__c].Product_Code__c = &apos;870017&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Apttus_Proposal__Proposal__c.Has_Mobile_Time_Entry__c}  = true &amp;&amp; {!myVariable_current.Apttus_Proposal__Proposal__c.Price_Mobile_Time_Entry__c}  = true &amp;&amp;({!myVariable_current.Product_Code__c}  = &apos;880023&apos; || {!myVariable_current.Product_Code__c} = &apos;880021&apos; || {!myVariable_current.Product_Code__c} = &apos;880019&apos; || {!myVariable_current.Product_Code__c} = &apos;880017&apos; || {!myVariable_current.Product_Code__c} = &apos;860023&apos; || {!myVariable_current.Product_Code__c} = &apos;860021&apos; || {!myVariable_current.Product_Code__c} = &apos;860019&apos; || {!myVariable_current.Product_Code__c} = &apos;860017&apos; || {!myVariable_current.Product_Code__c} = &apos;870023&apos; || {!myVariable_current.Product_Code__c} = &apos;870021&apos; || {!myVariable_current.Product_Code__c} = &apos;870019&apos; || {!myVariable_current.Product_Code__c} = &apos;870017&apos;)</expression>
    </formulas>
    <interviewLabel>Practice_Mobile_Time_Entry-9_InterviewLabel</interviewLabel>
    <label>Practice Mobile Time Entry</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Apttus_Proposal__Proposal_Line_Item__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal_Line_Item__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Price Mobile Time Entry PLI</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Net_Price</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Apttus_QPConfig__NetPrice__c</field>
            <value>
                <elementReference>myVariable_current.MTE_Net_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal_Line_Item__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Discount Amount</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Net Adjustment (%)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Apttus_QPConfig__NetAdjustmentPercent__c</field>
            <value>
                <elementReference>myVariable_current.Apttus_Proposal__Proposal__r.PM_Mobile_Time_Entry_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Apttus_Proposal__Proposal_Line_Item__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Net Adjustment</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Net Adjustment (%)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Apttus_QPConfig__NetAdjustmentPercent__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_9453439412</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal_Line_Item__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
