wk_taa_taaqa/src/flows/Trigger_CS_AOP_Quote_Review_Approval_Process-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Order Automation -CS Quote Review - Subs - Order_Automation_CS_Quote_Review_Subs</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>currentUser</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Submit for AOP Review - Subscriptions</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Order_Automation_CS_Quote_Review_Subs</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Order Automation -CS Quote Review -Books - Order_Automation_CS_Quote_Review</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>currentUser</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Submit for AOP Review - Books</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Order_Automation_CS_Quote_Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Submit for AOP Review - Subscriptions</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Submit for AOP Review - Books</label>
        </rules>
    </decisions>
    <description>Trigger CS AOP Quote Review Approval Process - Only when Approval Stage is changed to Submitted to COP</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Apttus_Proposal__Proposal__c].Eligible_for_Order_Automation__c,
NOT([Apttus_Proposal__Proposal__c].Approved_for_Order_Automation__c ),
ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Submitted to COP&quot;),
ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) ,
[Apttus_Proposal__Proposal__c].RecordType.Name = &quot;SAP Subscription&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Eligible_for_Order_Automation__c},
NOT({!myVariable_current.Approved_for_Order_Automation__c} ),
ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Submitted to COP&quot;),
ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) ,
{!myVariable_current.RecordType.Name} = &quot;SAP Subscription&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Apttus_Proposal__Proposal__c].Eligible_for_Order_Automation__c,
NOT([Apttus_Proposal__Proposal__c].Approved_for_Order_Automation__c ),
ISPICKVAL([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c, &quot;Submitted to COP&quot;),
ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) ,
[Apttus_Proposal__Proposal__c].RecordType.Name = &quot;SAP Books&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Eligible_for_Order_Automation__c},
NOT({!myVariable_current.Approved_for_Order_Automation__c} ),
ISPICKVAL({!myVariable_current.Apttus_Proposal__Approval_Stage__c}, &quot;Submitted to COP&quot;),
ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) ,
{!myVariable_current.RecordType.Name} = &quot;SAP Books&quot;
)</expression>
    </formulas>
    <interviewLabel>Trigger_CS_AOP_Quote_Review_Approval_Process-3_InterviewLabel</interviewLabel>
    <label>Trigger CS AOP Quote Review Approval Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Apttus_Proposal__Proposal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
